<section class="container">
    <ul class="col-md-12 col-sm-12 col-xs-12">
        <li class="col-md-4 col-sm-12 col-xs-12"></li>
        <li class="col-md-4 col-sm-12 col-xs-12"><a class="" href="/" id="marca">DO<span>P T</span>ester</a></li>
        <li class="col-md-4 col-sm-12 col-xs-12"></li>
    </ul>
</section>
<section id="contacto" class="container">
    <article class="col-md-4 col-sm-12 col-xs-12">
        <span>Contacto</span>
    </article>
    <figure class="col-md-4 col-sm-12 col-xs-12">
        <figcaption>
            Síguenos
        </figcaption>
        <div class="facebook">
            <a href="#"></a>
        </div>
        <a class="twitter" href="#"></a>
        <a class="google" href="#"></a>
    </figure>
    <article class="col-md-4 col-sm-12 col-xs-12">
        <span>
            Condiciones de uso
        </span>
    </article>
</section>